<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf - Bootstrap WebJars</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" href="/css/login.css">
</head>
<body>

<div class="container">
    <div class="row justify-content-center h-100">
        <div class="col-xs-12">
            <div class="card w-80">
                <div class="image-container">
                    <img class="card-img-top image" src="/images/me2.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Login to system</h5>
                    <p class="card-text">This project is for authenticating with Session</p>
                    <div class="form-container">
                        <form th:action="@{/auth/login}" method="post" th:object="${loginDTO}">
                            <div class="form-group">
                                <label >Email address</label>
                                <input th:field="*{username}" type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email">
                                <small th:unless="${#fields.hasErrors('checked')}" id="emailHelp" class="form-text text-muted">We'll never share your info with anyone else.</small>
                                <p class="form-error"  th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                            </div>
                            <div class="form-group">
                                <label >Password</label>
                                <input th:field="*{password}" type="password" class="form-control"  placeholder="Password">
                                <p class="form-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                            </div>
                            <div class="form-check">
                                <input th:field="*{checked}" type="checkbox" class="form-check-input">
                                <label class="form-check-label">Accept all terms & policies</label>
                                <p class="form-error"  th:if="${#fields.hasErrors('checked')}" th:errors="*{checked}"></p>
                            </div>
                            <div class="d-flex justify-content-center mt-3">
                                <button type="submit" class="btn btn-primary">Login</button>
                                <a href="/auth/register" class="btn btn-text">Or register</a>
                            </div>
                            <div>
                                <p class="form-error" th:text="${authenticationError}"></p>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>