<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf - Bootstrap WebJars</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" href="css/index.css">
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-xs-12">
            <div class="card">
                <div class="image-container">
                    <img class="card-img-top image" src="images/me2.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Home Page</h5>
                    <p th:unless="${username}" class="card-text text-center">This project is for authenticating with Session</p>
                    <p th:if="${username}" class="card-text text-center" th:text="'Welcome ' + ${username}"></p>
                    <div sec:authorize="hasRole('USER')">Text visible to user.</div>
                    <div class="d-flex justify-content-center">
                        <a th:unless="${username}" href="/auth/login" class="btn btn-primary">Authenticate Here</a>
                        <form th:if="${username}" th:action="@{/auth/logout}" method="post">
                            <button type="submit" class="btn btn-primary">Logout</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>