<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
    <div class="row justify-content-center align-items-center w-100" style="height: 100vh;">
        <div class="col-6">
            <div class="card text-center">
                <div class="card-header">
                    Congratulations!
                </div>
                <div class="card-body">
                    <h5 class="card-title">User Route</h5>
                    <p class="card-text">If you are accessing this route, you must be a user.</p>
                    <form method="post" th:action="@{/auth/logout}">
                        <button type="submit" href="#" class="btn btn-primary">Sign Out</button>
                    </form>
                </div>
                <div class="card-footer text-muted">
                    Welcome!
                </div>
            </div>
        </div>
    </div>
</body>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</html>